@model DAL.Entities.Book
 @using DAL.Entities;

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BookTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Publisher)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Publisher)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pages)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pages)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Isbn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Isbn)
        </dd>
        @*<dd>
            @Html.DisplayFor(model => model.Keepers.Count)
        </dd>*@
    </dl>
    <div id="curve_chart" style="width: 500px; height: 50%"></div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@section scripts{
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
        google.charts.load('current', { packages: ['corechart', 'line'] });
        google.charts.setOnLoadCallback(drawBackgroundColor);

        function drawBackgroundColor() {
            var dataEntry = '@Html.Raw(ViewBag.ChartData)';
            var data = new google.visualization.DataTable(dataEntry);
            var options = {
                hAxis: {
                    title: 'Date'
                },
                vAxis: {
                    title: 'Entries'
                },
                backgroundColor: '#fdfefc',
                colors: ['#1492a5', '#2714a5'],
        };

            var chartBlock = document.getElementById('curve_chart');
            var chart = new google.visualization.LineChart(chartBlock);
            chart.draw(data, options);

        }
</script>
}